.loading{
    height:150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    border-bottom: 5px solid purple;
    animation: loading  800ms  infinite linear;
}
@keyframes loading {

    to{
        transform: rotateZ(360deg);
    }
    
}

.loadingBtn{
    height:30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
    border-bottom: 2px solid white;
    animation: loading  800ms  infinite linear;
}
@keyframes loadingBtn {

    to{
        transform: rotateZ(360deg);
    }

}